<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.screenhotlibrary" >
    <uses-permission android:name="MediaStore.Images.Media.INTERNAL_CONTENT_URI" />
    <uses-permission android:name="MediaStore.Images.Media.EXTERNAL_CONTENT_URI" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>
